<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../css/loginStyle.css">
    <script src="../javascript/sign.js" defer></script>
    <title>Chatify</title>
</head>
<body>

  <div class="head">
        <div class="name">Chatify</div>
        <div class="about">||---Chat or create Room with your Friends---||</div>
        <div class="nav">
            <a href="/login" class="login">Sign-In</a>
            <a href="/sign" class="login">Sign-Up</div></a>
        </div>
  </div>

</body>
</html>