<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel = "stylesheet" href="../css/public_chat.css">
    <title>Chatify</title>
    
</head>

<body>
    <div class="box" id="boxx">
    </div>
    
    <div class="msg-box">
        <input type="text" id="msg">
        <button id = "msg-submit">Send</button>
        <button id = "file-send">File</button>
    </div>
    
    <input type="file" id="myfile" style="display: none;">
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const myName = '<%= locals.username%>';
    </script>
    <script type="module" src="../javascript/privateChat.js" ></script>

</body> 
</html>