<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/maindashboard.css">
        <link rel="stylesheet" href="../css/requests.css">
        <script src="../javascript/requests.js" defer></script>
        <title>Friend-Requests</title>
</head>
<body>
    
    <div class="panel">
        <div class="name">Chatify</div>
        <a href="/requests"><div class="requestx"><img src="add-friend.png" alt="Friends"></div></a>
        <a href="/"><div class="myacc"><img src="home.png" alt="home"></div></a>
        <a href="/logout"><div class="logout"><img src="logout.png" alt="logout"></div></a>
    </div>
    
    <div class="useless">
        <div class="box" id="box">
                
            <div class="Chat">Friend Requests</div><br><hr>
            
            <div class="chatbox" id="chatbox">
                <!-- <div class="friends"><img src="1539986471.svg" alt="User"><div class="username">mia</div><div class="recieved">Recieved : 12:00am</div><form method="get" action="/chat/acceptRequest"><input name="name" style="display: none;"><button id="accept" type="submit">Accept</button></form><form method="get" action="/chat/rejectRequest"><input name="name" style="display: none;"><button id="reject" type="submit">Reject</button></form></div></div> -->
            </div>
            </div>
        </div>
    </div>
    
</body>
</html>