<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../css/loginStyle.css">
    <script src="../javascript/sign.js" defer></script>
    <title>Chatify</title>
</head>
<body>

  <div class="head">
        <a href='/'><div class="name">Chatify</div></a>
        <div class="about">||---Chat or create Room with your Friends---||</div>
        <div class="nav">
            <a href="/login" class="login">Sign-In</a>
            <a href="/sign" class="login">Sign-Up</div></a>
        </div>
  </div>

  <div class="useless">
      <div class="box">
        <div class="signName">SignUp</div>
        <form method="post" action="/sign">
            <label>Username:<br>
                <input type="text" id = 'username' name="username" required><br>
            </label>
            <label>Email:<br>
                <input type="email" id = 'email' name="email"><br>
            </label>
            <label>Enter a Password:<br>
                <input type="password" id = 'password' name="password" required><br>
            </label>
            <label>Retype Password:<br>
                <input type="password"><br>
            </label>
            <button type="submit" id="btn">Register</button>
        </form>
      </div>
  </div>

</body>
</html>